<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="Programaciones" connectionString="Data Source=dbgiros.afex-tc.cl;Initial Catalog=ServiciosAplicacion;Persist Security Info=True;User ID=cambios;Password=38Ki40p67;Application Name=PortalServiciosTI;Pooling=False;" providerName="System.Data.SqlClient"/>

	</connectionStrings>

	<appSettings>
		<add key="ConsultarBBDD" value ="false"/>
		<add key="VerbosidadLogServicio" value ="1"/>
	</appSettings>
	
</configuration>